body {
  font-size: 18px;
  line-height: 1.33;
}

.header {
  background-color: #f0f0f0;
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

.header-border {
  width: 100%;
  height: 10px;
  background-color: #64816d;
}

.footer {
  width: 100%;
  height: 10px;
  background-color: #64816d;
}

.footer-lower {
  width: 100%;
  height: 90px;
  background-color: #31473d;
  color: #64816c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 1000px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-content a {
  white-space: nowrap;
  text-decoration: underline;
}

.footer-content .left {
  white-space: nowrap;
}

.footer-content .right {
  text-align: right;
}

.footer-content .right a:not(:last-child):after {
  content: "|";
  margin-left: 0.25em;
}

.header .content {
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

.content {
  width: 1000px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.1em;
  margin-top: 0;
}

h2 {
  margin-bottom: 1em;
}

.sections dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.sections dt {
  grid-column: 1;
  margin-right: 1em;
  padding-top: 0.5em;
}

.sections dd {
  grid-column: 2;
  margin-bottom: 1em;
}

.entry {
  padding: 0.5em 0.65em;
}

.entry:not(:last-child) {
  margin-bottom: 1em;
}

.project-tools {
  font-style: italic;
}

.project-tools .list {
  margin-right: 0.28em;
}

.more {
  display: inline-block;
  background-color: #d8f7e1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.72em;
  font-style: normal;
  border-radius: 0.22em;
  padding-left: 0.28em;
  padding-right: 0.28em;
  transform: scale(1);
  cursor: pointer;
}

.more:hover {
  background-color: #ffe188;
  animation: pulse 2s infinite;
}

/* Source: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

strong {
  color: #1f6733;
}

.email-image {
  width: 409px;
  vertical-align: middle;
}

.print-only {
  display: none;
}

@media screen and (max-width: 900px) {
  .sections dl {
    display: block;
  }

  .sections dt {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  .footer-content .right a {
    display: block;
  }

  .footer-content .right a:not(:last-child):after {
    display: none;
  }
}

@media print {
  body {
    font-size: 11px;
  }

  .content {
    margin-bottom: 0;
  }

  .header {
    padding-top: 2em;
    background-color: white;
    padding-bottom: 0.25em;
    border-top: 7px solid #64816d;
  }

  .header-border {
    display: none;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .footer {
    display: none;
  }

  .footer-lower {
    display: none;
  }

  .email-image {
    width: 260px;
  }

  .sections dd {
    margin-bottom: 0.75em;
  }

  .entry:not(:last-child) {
    margin-bottom: 0.75em;
  }

  .print-only {
    display: block;
  }

  .non-print {
    display: none;
  }

  .more {
    display: inline;
    background-color: initial;
    font-family: initial;
    font-size: 1em;
    font-style: normal;
    padding-left: initial;
    padding-right: initial;
    margin-left: initial;
    transform: scale(1);
    cursor: pointer;
    font-weight: bold;
  }
}
