body {
  /* background-color: #556672;
  color: #dadedf; */
  font-size: 18px;
  line-height: 1.33;
}

.header {
  background-color: #f0f0f0;
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

.header-border {
  width: 100%;
  height: 10px;
  background-color: #64816d;
}

.footer {
  width: 100%;
  height: 10px;
  background-color: #64816d;
}

.footer-lower {
  width: 100%;
  height: 90px;
  background-color: #31473d;
  color: #64816c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .content {
  width: 1000px;
  margin: auto;
}

.content {
  width: 1000px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.1em;
  margin-top: 0;
}

h2 {
  margin-bottom: 1em;
}

.sections dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.sections dt {
  grid-column: 1;
  margin-right: 1em;
  padding-top: 0.5em;
}

.sections dd {
  grid-column: 2;
  margin-bottom: 1em;
}

.entry {
  padding: 0.5em 0.65em;

  border-radius: 7px;
}

.entry:not(:last-child) {
  margin-bottom: 1em;
}

.clickable.entry:hover {
  cursor: pointer;
  /* background-color: #f5f5f5; */
}

.clickable.entry:hover .more {
  /* background-color: #f0f0f0; */
  background-color: #afd5b8;
}

.project-tools {
  font-style: italic;
}

.more {
  display: inline-block;
  background-color: #c8e6cf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

a {
  text-decoration: underline;
}

strong {
  color: #558161;
}
